# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist
build

# Misc
.DS_Store
.env
.npmrc
*.log
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
.cursor
.DS_Store
