<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>installer</string>
    
    <key>CFBundleIdentifier</key>
    <string>com.contentify.installer</string>
    
    <key>CFBundleName</key>
    <string>Contentify Installer</string>
    
    <key>CFBundleDisplayName</key>
    <string>Contentify Installer</string>
    
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    
    <key>CFBundleSignature</key>
    <string>????</string>
    
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    
    <key>LSUIElement</key>
    <false/>
    
    <key>NSHighResolutionCapable</key>
    <true/>
    
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024 Contentify. All rights reserved.</string>
</dict>
</plist>
